@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --white: hsl(0, 0%, 100%);
  --paleblue: hsl(221, 100%, 96%);
  --lightlavender: hsl(241, 100%, 89%);
  --darkgreyblue: hsl(224, 30%, 27%);
  --lightred: hsl(0, 100%, 67%);
  --orangeyellow: hsl(39, 100%, 56%);
  --greenteal: hsl(166, 100%, 37%);
  --cobaltblue: hsl(234, 85%, 45%);
  --lightslateblue: hsl(252, 100%, 67%);
  --lightroyalblue: hsl(241, 81%, 54%);
  --violetblue: hsla(256, 72%, 46%, 1);
  --persianblue: hsla(241, 72%, 46%, 0);
}

.result-side {
  width: 100%;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background-image: linear-gradient(var(--lightslateblue) .1%, var(--lightroyalblue));
  min-height: 20vh;
  text-align: center;
  padding: 20px 50px 25px 50px; 
}

#title {
  font-size: 1.063rem;
  font-weight: 700;
  color: var(--lightlavender);
  margin-top: -7px;
}

#total-score {
  margin: 23px auto;
  font-size: 1rem;
  font-weight: 600;
  color: var(--lightlavender);
  border-radius: 50%;
  max-width: 48%;
  min-height: 26vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, var(--violetblue), var(--persianblue));
}

.summary-side {
  padding: 25px;
}

.summary-side .score {
  padding: 15px;
  font-weight: 700;
  border: 1px solid;
  border-radius: 10px;
  margin: 15px;
}

.reaction {
  color: var(--lightred);
}











