@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --white: hsl(0, 0%, 100%);
  --paleblue: hsl(221, 100%, 96%);
  --lightlavender: hsl(241, 100%, 89%);
  --darkgreyblue: hsl(224, 30%, 27%);
  --lightred: hsl(0, 100%, 67%);
  --orangeyellow: hsl(39, 100%, 56%);
  --greenteal: hsl(166, 100%, 37%);
  --cobaltblue: hsl(234, 85%, 45%);
  --lightslateblue: hsl(252, 100%, 67%);
  --lightroyalblue: hsl(241, 81%, 54%);
  --violetblue: hsla(256, 72%, 46%, 1);
  --persianblue: hsla(241, 72%, 46%, 0);
}

.result-side {
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-image: linear-gradient(var(--lightslateblue) .1%, var(--lightroyalblue));
  min-height: 20vh;
  text-align: center;
  padding: 20px 50px 25px 50px; 
}

#title {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--lightlavender);
  margin-top: 5px;
}

#total-score {
  margin: 24px auto;
  font-size: 1rem;
  font-weight: 600;
  color: var(--lightlavender);
  border-radius: 50%;
  max-width: 50%;
  min-height: 24vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, var(--violetblue), var(--persianblue));
}

.summary-side {
  padding: 25px 30px 25px 30px;
  font-size: 1rem;
  color: var(--darkgreyblue);
}

.summary-side h3 {
  font-weight: 800;
}

.summary-side ul {
  list-style: none;
  font-size: 0.938rem;
  margin-top: 20px;
}

.summary-side ul li {
  font-weight: 800;
  border-radius: 10px;
  margin-bottom: 15px;
}

div.section {
  padding: 15px;
  display: flex;
  gap: 1rem;
}

.reaction {
  color: var(--lightred);
  background-color: hsla(0, 78%, 80%, 0.1);
}

.memory {
  color: var(--orangeyellow);
  background-color: hsla(45, 85%, 76%, 0.1);
}

.verbal {
  color: var(--greenteal);
  background-color: hsla(166, 46%, 70%, 0.1);
}

.visual {
  color: var(--cobaltblue);
  background-color: hsla(234, 76%, 74%, 0.1);
}

.continue-button {
  border: none;
  color: var(--white);
  background-color: var(--darkgreyblue);
  border-radius: 25px;
  padding: 15px 20px;
  font-weight: 700;
  font-size: 0.938rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 21px;
}










