@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --white: hsl(0, 0%, 100%);
  --paleblue: hsl(221, 100%, 96%);
  --lightlavender: hsl(241, 100%, 89%);
  --darkgreyblue: hsl(224, 30%, 27%);
  --lightred: hsl(0, 100%, 67%);
  --orangeyellow: hsl(39, 100%, 56%);
  --greenteal: hsl(166, 100%, 37%);
  --cobaltblue: hsl(234, 85%, 45%);
  --lightslateblue: hsl(252, 100%, 67%);
  --lightroyalblue: hsl(241, 81%, 54%);
  --violetblue: hsla(256, 72%, 46%, 1);
  --persianblue: hsla(241, 72%, 46%, 0);
}

.result-side {
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-image: linear-gradient(var(--lightslateblue) .1%, var(--lightroyalblue));
  min-height: 20vh;
  text-align: center;
}

#title {
  font-size: 1.063rem;
  font-weight: 600;
  color: var(--lightlavender);
  padding: 22px;
}

#total-score {
  margin: auto;
  color: var(--lightlavender);
  border-radius: 50%;
  max-width: 36%;
  min-height: 24vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, var(--violetblue), var(--persianblue));
}

#yourscore {
  font-size: 3.875rem;
  font-weight: 700;
  color: var(--white);
}

#outof {
  opacity: 0.5;
  font-size: 0.938rem;
  font-weight: 600; 
}

#great {
  font-size: 1.375rem;
  color: var(--white);
  font-weight: 700;
  padding-top: 22px;
  padding-bottom: 10px;
}

#comment {
  font-size: 0.938rem;
  color: var(--lightlavender);
  font-weight: 500;
  padding: 0 50px 40px;  
}

.summary-side {
  padding: 25px 30px 25px 30px;
  font-size: 1rem;
  color: var(--darkgreyblue);
}

.summary-side h3 {
  font-weight: 800;
}

.summary-side ul {
  list-style: none;
  font-size: 0.938rem;
  margin-top: 20px;
}

.summary-side ul li {
  font-weight: 800;
  border-radius: 10px;
  margin-bottom: 15px;
}

div.section {
  padding: 15px;
  display: grid;
  grid-template-columns: 30px 195px auto;
}

.reaction {
  color: var(--lightred);
  background-color: hsla(0, 78%, 80%, 0.1);
}

.memory {
  color: var(--orangeyellow);
  background-color: hsla(45, 85%, 76%, 0.1);
}

.verbal {
  color: var(--greenteal);
  background-color: hsla(166, 46%, 70%, 0.1);
}

.visual {
  color: var(--cobaltblue);
  background-color: hsla(234, 76%, 74%, 0.1);
}

div.score {
  color: rgb(151, 149, 149);
}

.grade {
  color: var(--darkgreyblue);
}

.continue-button {
  border: none;
  color: var(--white);
  background-color: var(--darkgreyblue);
  border-radius: 25px;
  padding: 15px 20px;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color .5s;
  transition-timing-function: ease-out;
}

button:hover {
  background-color: hsl(225, 4%, 39%);
}

@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 100vh;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  }

  .result-side {
    max-width: 25%;
    min-height: 65vh;
    border-radius: 35px;
  }

  #title {
    font-size: 1.375rem;
    font-weight: 600;
    padding: 30px;
  }

  #total-score {
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 50%;
    max-width: 57%;
    min-height: 30vh;
  }

  #yourscore {
    font-size: 5rem;
  }

  #outof {
    font-size: 1rem;
  }

  #great {
    font-size: 2rem;
    padding-top: 25px;
    padding-bottom: 15px;
  }

  #comment {
    font-size: 1.125rem;
    padding: 0 70px 50px;  
  }

  .summary-side {
    max-width: 25%;
    min-height: 65vh;
    font-size: 1.375rem;
    padding: 15px 35px;
    border-radius: 30px;
  }

  .summary-side ul {
    font-size: 1.125rem;
    margin-top: 25px;
  }

  .summary-side ul li {
    margin-bottom: 20px;
  }

  div.section {
    padding: 15px;
    display: grid;
    grid-template-columns: 30px 175px auto;
  }

  .continue-button {
    margin-top: 20px;
    padding: 15px 25px;
  }
}









